<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}" />
    <title>ArchGen</title>
  </head>

  <body>
    <div class="card">
      <div class="imageDisplay">
        {% if img_data %}
          <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
        {% else %}
          <img src="{{url_for('static', filename= 'Star_Vector.svg') }}" alt="Loading" class="Feed-loading" />
          {% endif %}
      </div>
      <div class="rightSide">
        <div class="logo">
          <img src="{{url_for('static', filename= 'archigen_logo-nobg.png') }}" alt="logo" />
        </div>
        <div class="form-control">
          <form action="/prompt" method="post" id="form1">
            <input
              type="text"
              name="prompt"
              style="font-size: 32px"
              id=""
              value="{{ prompt }}"
              placeholder="  Enter your prompt"
            />
          </form>
          <!-- <form
            action="https://shy-jeans-speak-35-199-186-116.loca.lt/"
            method="get"
            target="_blank"
          > -->
            <button type="submit" form="form1" class="generateButton">
              <img class="generateLogo" src="{{url_for('static', filename= 'icons8-floor-plan-100.png')}}" />
              Generate
            </button>
          </form>
        </div>
        <div class="keyPlaceholder">
          <img class="keyImage" src="{{url_for('static', filename= 'keyColors.png')}}" />
          <div class="keyLabelPlaceholder">
            <p class="keyLabels">Rooms (of all kinds)</p>
            <p class="keyLabels">Bathrooms</p>
            <p class="keyLabels">Kitchen</p>
            <p class="keyLabels">Balcony</p>
            <p class="keyLabels">Living room </p>
          </div>
        </div>
  </body>
</html>
